# Visual Studio / .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Node
node_modules/
dist/
.vite/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Frontend build
car-info-frontend/dist/
car-info-frontend/build/
